:root {
  --light-top: rgb(189, 224, 235);;
  --light-background: rgb(230, 230, 230);
  --light-accent: rgb(61, 155, 181);
  --light-card: rgb(218, 217, 217);

  --dark-top: rgb(76, 146, 97);
  --dark-background: rgb(18, 18, 18);
  --dark-accent: #6200EE;
  --dark-card: rgba(255, 255, 255, 0.1);

  --top: var(--light-top);
  --accent: var(--light-accent);
  --card: var(--light-card);
}



.light {
  background: var(--light-background) !important;
  --top: var(--light-top);
  --accent: var(--light-accent);
  --card: var(--light-card);
}

.dark {
  background: var(--dark-background) !important;
  color: white;
  --top: var(--dark-top);
  --accent: var(--dark-accent);
  --card: var(--dark-card);
}

body {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.title {
  text-align: center;
}

#login-form-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#login-form > input {
  margin-bottom: 10px;
  border: 0.3px solid lightblue;
  border-radius: 3px;
  outline: none;
}

#login-form > button {
  margin-top: 20px;
}

/* starting main */

h2 {
  text-align: center;
}

#top {
  background: var(--top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

#top > a {
  height: 25px;
  margin-top: 10px;
  text-decoration: none;
  transition-property: all;
  transition-duration: 125ms;
  color: rgb(85, 84, 84);
}

#top > a:hover {
  text-decoration: underline;
  color: rgb(162, 162, 162);
}

#welcome {
  margin-top: 10px;
  margin-left: 30px;
}

#notifications {
  margin-top: 10px;
  margin-right: 50px;
  width: 100px;
}

.bell {
  background: inherit;
  border: none;
}

#main {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#calendar {
  margin-left: 30px;
}

@media screen and (max-width: 400px) {
  #calendar {
    margin-left: 0px;
  }
}

#assignment-list {
  min-height: 100px;
  text-align: center;
}

#grades {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
}

.lesson {
  margin-top: 20px;
  width: 100%;
  border: 3px solid rgb(116, 114, 114);
  background: var(--card);
  font-size: 20px;
}

.lesson-name-bar {
  text-align: center;
  border-bottom: 0.5px dotted black;
}

.grade-bar {
  margin-top: 15px;
  text-align: center;
}

.accent-light {
  color: var(--light-accent);
}

.accent-dark {
  color: var(--dark-accent);
}

.accent {
  color: var(--accent);
}

.grade-bar > .lesson-name {
  margin-left: 10px;
  margin-right: 10px;
}

.important {
  font-size: 25px;
}

.lesson-name > .important {
  display: block;
}

.hidden {
  display: none;
}

#notification-list {
  margin-top: 10px;
  min-height: 100px;
  color: rgba(155, 155, 155, 0.699);
  background: rgba(184, 184, 184, 0.2);
  border: 0.3px solid lightgray;
  width: 100px;
}

#notification-list > p {
  margin: 5px;
}

/* .lowered {
  color: rgb(233, 133, 115) !important;
}

.higher {
  color: rgb(110, 227, 110) !important;
} */

#daily-schedule {
  margin-right: 20px;
  width: 30%;
}

.schedule-lesson {
  min-height: 50px;
  text-align: center;
  border: 0.5px solid black;
  background: var(--card);
  /* background: rgb(218, 217, 217); */
}

.current-lesson {
  box-shadow: 3px 3px black;
  background: rgb(206, 92, 92);
}

.current-lesson > .meeting-day {
  color: white;
}

.schedule-lesson-name {
  display: block;
}

