:root {
  --light-top: rgb(61, 155, 181);
  --light-background: rgb(230, 230, 230);
  --light-accent: var(--light-top);
  --light-card: #e0e0e0;
  --light-current-lesson: #e91e63;
  --light-shadow-color: black; 

  /* dark purple: #6200EE */
  /* light purple: #D500F9 */
  /* teal: #03DAC6 */
  --dark-top:#6200EE;
  --dark-background: rgb(18, 18, 18);
  --dark-accent: #03DAC6;
  --dark-card: rgba(255, 255, 255, 0.1);
  --dark-current-lesson: #6200EE;
  --dark-shadow-color: rgb(87, 87, 87);
}

.light {
  background: var(--light-background) !important;
  --top: var(--light-top);
  --accent: var(--light-accent);
  --card: var(--light-card);
  --current-lesson: var(--light-current-lesson);
  --shadow-color: var(--light-shadow-color);
}

.dark {
  background: var(--dark-background) !important;
  color: white;
  --top: var(--dark-top);
  --accent: var(--dark-accent);
  --card: var(--dark-card);
  --current-lesson: var(--dark-current-lesson);
  --shadow-color: var(--dark-shadow-color);
}

body {
  transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

.title {
  text-align: center;
}

#login-form-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#login-form > input {
  margin-bottom: 10px;
  border: 0.3px solid lightblue;
  border-radius: 3px;
  outline: none;
}

#login-form > button {
  margin-top: 20px;
}

/* starting main */

h2 {
  text-align: center;
}

#top {
  background: var(--top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

#welcome {
  margin-top: 10px;
  margin-left: 30px;
}

#themes {
  margin-top: 20px;
}

#notifications {
  margin-top: 10px;
  margin-right: 50px;
  width: 100px;
}

.bell {
  background: inherit;
  border: none;
}

#main {
  margin-top: 20px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#calendar {
  margin-left: 30px;
}

@media screen and (max-width: 400px) {
  #calendar {
    margin-left: 0px;
  }
}

#assignment-list {
  min-height: 100px;
  text-align: center;
}

#grades-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#grades {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 300px */
  width: 100%;
  flex-flow: row wrap;
}

.lesson {
  margin-top: 20px;
  margin-right: 20px;
  width: 300px;
  border: 3px solid rgb(116, 114, 114);
  font-size: 20px;
}

.lesson-name-bar {
  text-align: center;
  border-bottom: 0.5px dotted black;
}

.grade-bar {
  margin-top: 15px;
  text-align: center;
}

.accent {
  color: var(--accent);
}

.grade-bar > .lesson-name {
  margin-left: 10px;
  margin-right: 10px;
}

.important {
  font-size: 25px;
}

.lesson-name > .important {
  display: block;
}

.hidden {
  display: none;
}

#notification-list {
  margin-top: 10px;
  min-height: 100px;
  color: rgba(155, 155, 155, 0.699);
  background: rgba(184, 184, 184, 0.2);
  border: 0.3px solid lightgray;
  width: 100px;
}

#notification-list > p {
  margin: 5px;
}

#daily-schedule {
  margin-right: 20px;
  width: 30%;
}

.schedule-lesson {
  min-height: 50px;
  text-align: center;
  border: 0.5px solid black;
}

.card {
  background: var(--card) !important;
}

.current-lesson {
  box-shadow: 3px 3px var(--shadow-color);
  background: var(--current-lesson);
  color: black;
}

.current-lesson > .meeting-day {
  color: white;
}

.schedule-lesson-name {
  display: block;
}

